DJANGO_DEBUG_FLAG=True
DJANGO_ENVIRONMENT_NAME=Local_Testing
DJANGO_SETTINGS_MODULE=chronicle.settings

# Databases
MYSQL_DATABASE=__CHANGEME__
MYSQL_USER=__CHANGEME__
MYSQL_PASSWORD=__CHANGEME__
MYSQL_ROOT_PASSWORD=__CHANGEME__
MYSQL_DATABASE_HOST=__CHANGEME__
MYSQL_DATABASE_PORT=3306

ANON_RATE_LIMIT = "100/day"
USER_RATE_LIMIT = "1000/day"